<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" opened class="sidenav">
      <button mat-icon-button (click)="snav.toggle()" class="sidenav-item">
        <span class="sidenav-item-text">Login</span>
        <mat-icon class="sidenav-item-icon">login</mat-icon>
      </button>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">      
      <app-github-repositories-table></app-github-repositories-table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
