<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav mode="side" opened class="sidenav">
      <mat-nav-list class="nav-list">
        <!-- login -->
        <button
          [routerLink]="'/login'"
          mat-icon-button
          (click)="login()"
          class="sidenav-item"
        >
          <span class="sidenav-item-text">Login</span>
          <mat-icon class="sidenav-item-icon">login</mat-icon>
        </button>
        <!-- github -->
        <button [routerLink]="'/github'" mat-icon-button class="sidenav-item">
          <span class="sidenav-item-text">Github</span>
          <mat-icon class="sidenav-item-icon" svgIcon="github1"></mat-icon>
        </button>
        <!-- close -->
        <button
          [routerLink]="''"
          mat-icon-button
          (click)="snav.toggle()"
          class="sidenav-item"
        >
          <span class="sidenav-item-text">Close</span>
          <mat-icon class="sidenav-item-icon">close</mat-icon>
        </button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content" (click)="snav.close()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
