<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container autosize class="sidenav-container" autosize>
    <mat-sidenav #snav mode="side" opened>
      <!-- <mat-nav-list> -->
      <div class="up">
        <!-- github -->
        <button [routerLink]="'github'" mat-icon-button class="sidenav-item">
          <mat-icon class="sidenav-item-icon" svgIcon="github"></mat-icon>
          <span class="sidenav-item-text">Github</span>
        </button>
      </div>
      <div class="down">
        <!-- login -->
        <button [routerLink]="'login'" mat-icon-button class="sidenav-item">
          <mat-icon class="sidenav-item-icon">login</mat-icon>
          <span class="sidenav-item-text">Login</span>
        </button>
        <!-- logout -->
        <button [routerLink]="'logout'" mat-icon-button class="sidenav-item">
          <mat-icon class="sidenav-item-icon">logout</mat-icon>
          <span class="sidenav-item-text">Logout</span>
        </button>
        <!-- close -->
        <button mat-icon-button (click)="snav.toggle()" class="sidenav-item">
          <mat-icon class="sidenav-item-icon">close</mat-icon>
          <span class="sidenav-item-text">Close</span>
        </button>
      </div>
      <!-- </mat-nav-list> -->
    </mat-sidenav>

    <!-- <mat-sidenav-content class="main-content" (click)="snav.close()"> -->
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
