.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar & .spacer {
  flex-grow: 1;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.sidenav-item-text {
  margin: 10px;
}

.sidenav-item-icon {
  margin-right: 10px;
  color: white;
}

.nav-list {
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1;
}
