.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar & .spacer {
  flex-grow: 1;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: 90px;
}

.sidenav-item-text {
  margin: 10px;
}

.sidenav-item-icon {
  margin-right: 10px;
}

.main-content {
  width: 400px;
  height: 400px;
}
